APP_NAME="Absensi Guru"
APP_ENV=production
APP_KEY=base64:BmD2rirKmGUYT2UHvkbVb9smak8RgUjwFVIZTk1xZLc=
APP_DEBUG=false
APP_URL=http://byfhaz.infinityfreeapp.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=sql208.infinityfree.com
DB_PORT=3306
DB_DATABASE=if0_41376893_absensi
DB_USERNAME=if0_41376893
DB_PASSWORD=ISeeItIWanItI

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync