APP_NAME="Absensi Guru"
APP_ENV=production
APP_KEY=base64:BmD2rirKmGUYT2UHvkbVb9smak8RgUjwFVIZTk1xZLc=
APP_DEBUG=false
APP_URL=http://byfhaz.infinityfreeapp.com

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=absesnsi_guru
DB_USERNAME=guru
DB_PASSWORD=guru12345

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync